$color-white: #FFFFFF;
$color-blue: #3047F1;
$color-button-gradient: linear-gradient(to right, #44AFFF, #3346FF);
$bg-card-gradient: linear-gradient(135deg, #324274, #151536, #272d3f);
$bg-card-dark-gradient: linear-gradient(135deg, #252b3e, #000000, #272d3f);